@model CountryViewModel
@{
    ViewData["Title"] = "Country Details";
}

<!DOCTYPE html>

<h2>Country Details</h2>

<html>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/image/@Model.Country.FlagImg" alt="" />
                <h3>@Model.Country.CountryName</h3>
            </li>
            <li class="list-group-item">
                <h4>Game: @Model.Country.Game.GameName</h4>
            </li>
            <li class="list-group-item">
                <h4>Sport: @Model.Country.Sport.SportName</h4>
            </li>
            <li class="list-group-item">
                <h4>Location: @Model.Country.Location.LocationName</h4>
            </li>
            <li class="list-group-item">
                <a asp-action="Index"
                asp-route-game="@Model.ActiveGame"
                asp-route-sport="@Model.ActiveSport"
                asp-route-type="@Model.ActiveLocation">
                Return to Home page
            </a>
            </li>
        </ul>
    </div>
</div>
</html>