@model CountryListViewModel

@{
    ViewData["Title"] = "Olympics";
    string Active(string filter, string selected)
    {
        return (filter.ToLower() == selected.ToLower() ? "active" : "");
    }
}

<!DOCTYPE html>
<html>
<div class="row">
    <div class="col-md-3">
        <h3>Olympics</h3>
        <div class="list-group">
            @foreach (Game game in Model.Games)
            {
                <a asp-action="Index"
               asp-route-activeGame="@game.GameID"
               asp-route-activeSport="@Model.ActiveSport"
               asp-route-activeLocation="@Model.ActiveLocation"
               class="list-group-item @Model.CheckActiveGame(game.GameID)">
                    @game.GameName
                </a>
            }
        </div>
            <h3>Olympic Sport</h3>
            <div class="list-group">
                @foreach (Sport sport in Model.Sports)
                {
                    <a asp-action="Index"
                   asp-route-activeSport="@sport.SportID"
                   asp-route-activeGame="@Model.ActiveGame"
                   asp-route-activeLocation="@Model.ActiveLocation"
                   class="list-group-item @Model.CheckActiveSport(sport.SportID)">
                        @sport.SportName
                    </a>
                }
            </div>
                <h3>Olympic Locations</h3>
                <div class="list-group">
                    @foreach (Location location in Model.Locations)
                    {
                        <a asp-action="Index"
                       asp-route-activeLocation="@location.LocationID"
                       asp-route-activeGame="@Model.ActiveGame"
                       asp-route-actionSport="@Model.ActiveSport"
                       class="list-group-item @Model.CheckActiveLocation(location.LocationID)">
                            @location.LocationName
                        </a>
                    }
                </div>
            
    </div>
        <div class="col-md-9">
            <ul class="list-inline">
                @foreach (Country country in Model.Countries)
                {
                    <li class="list-inline-item">
                        <form asp-action="Details" method="post">
                            <button class="bg-white border-0"
                                type="submit">
                                <img src="~/images/@country.FlagImg"
                                    alt="@country.CountryName"
                                    title="@country.CountryName |
                                     @country.Game.GameName
                                     @country.Sport.SportName
                                     @country.Location.LocationName" />
                            </button>
                            <input type="hidden" asp-for="@country.CountryID" />
                            <input type="hidden" asp-for="ActiveGame" />
                            <input type="hidden" asp-for="ActiveSport" />
                            <input type="hidden" asp-for="ActiveLocation" />
                        </form>
                    </li>
                }
            </ul>
        </div>
    
</div>

</html>